.mainWrapper {
  width: 330px;
  margin: 0 auto;

  @include tablet {
    width: 100%;
  }
  @include desktop {
    width: 360px;
  }
}

.locationWrapper {
  margin-bottom: 40px;
}

.wrapper {
  position: relative;
}

.location {
  margin-bottom: 8px;
  display: block;
}

.input {
  width: 100%;
  padding: 16px 0;
  padding-left: 48px;
  border-radius: 12px;
  background-color: var(--color-ultra-light-gray);
  border: none;
}

.icon {
  position: absolute;
  width: 20xp;
  height: 20px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.filters {
  margin-bottom: 32px;
}

.btnWrapper {
  display: flex;
  gap: 10px;
}
