.truckListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.truckList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}
