.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include tablet {
    justify-content: center;
    align-items: center;
  }
}

.logo {
  @include tablet {
    position: absolute;
    left: 0;
  }
}

.nav {
  display: flex; /* Включает Flexbox для ссылок */
  justify-content: center; /* Центрирует ссылки внутри nav */
  align-items: center;
  gap: 32px;
}

.link {
  display: inline-block;
  text-decoration: none;

  &.active {
    color: var(--color-accent-dark-red);
  }
}

.logoLink {
  display: block;
  max-width: fit-content;
}

.logo {
  display: block;
  height: auto;
  width: 50%;
  max-width: 100px;
}
