.inputWrapper {
  margin-bottom: 14px;
}

.input {
  background-color: var(--color-ultra-light-gray);
  padding: 18px;
  border: none;
  border-radius: 12px;
  width: 100%;
}

.textArea {
  background-color: var(--color-ultra-light-gray);
  padding: 18px;
  border: none;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 24px;
}
